<div *ngIf="piles" class="gameRow">
  <app-card *ngIf="piles.drawDown > 0" (click)="clickDrawDeck()"></app-card>
  <app-card
    *ngIf="piles.drawDown == 0"
    [unknownState]="'blank'"
    (click)="clickDrawDeck()"
  ></app-card>
  <app-pile
    *ngIf="piles.drawUp.length > 0"
    [cards]="piles.drawUp.slice(-3)"
    (SelectKnown)="playDrawPile()"
  ></app-pile>
  <div *ngIf="!piles.drawUp.length"></div>
  <div></div>
  <app-card
    *ngFor="let i of winNums"
    [card]="getWinPileTop(i)"
    [unknownState]="'blank'"
    (click)="playWinPile(i)"
  ></app-card>
</div>

<div *ngIf="piles" class="gameRow">
  <app-pile
    *ngFor="let i of playNums"
    [unknowns]="getLength(i)"
    [cards]="getPile(i)"
    (SelectKnown)="catchSelection($event, i)"
    (SelectUnknown)="flipUnknown(i)"
    (SelectEmpty)="selectEmpty(i)"
  ></app-pile>
</div>
