<button type="button" (click)="id = null; ngOnInit()">reset</button>

<div *ngIf="everythingExists()" class="gameRow">
  <app-card *ngIf="HiddenDrawPile > 0" (click)="clickDrawDeck()"></app-card>
  <app-card
    *ngIf="HiddenDrawPile == 0"
    [unknownState]="'blank'"
    (click)="clickDrawDeck()"
  ></app-card>
  <app-pile
    *ngIf="DrawPile.length > 0"
    [cards]="DrawPile.slice(-3)"
    (SelectKnown)="playDrawPile()"
  ></app-pile>
  <div *ngIf="!DrawPile.length"></div>
  <div></div>
  <app-card
    *ngFor="let pile of WinPiles; index as i"
    [card]="pile.slice(-1)[0]"
    [unknownState]="'blank'"
    (click)="playWinPile(i)"
  ></app-card>
</div>

<div *ngIf="everythingExists()" class="gameRow">
  <app-pile
    *ngFor="let pile of PlayPiles; index as i"
    [unknowns]="HiddenPlayPiles[i]"
    [cards]="pile"
    (SelectKnown)="catchSelection($event, i)"
    (SelectUnknown)="flipUnknown(i)"
    (SelectEmpty)="selectEmpty(i)"
  ></app-pile>
</div>
